<html>
<body>
<app-header></app-header>
<app-publicidad-arriba></app-publicidad-arriba>
<div class="content-container">
  <div class="card-container">
    <div *ngIf="descripcion" class="card-horizontal">
      <div class="card-details">
        <h3>{{ descripcion.infoContenido.titulo }}</h3>
        <p>{{ descripcion.infoContenido.descripcion }}</p>
        <p>Género: {{ descripcion.genero.descripcion }}</p>
        <h4>Directores</h4>
        <ul>
          <li *ngFor="let director of descripcion.directores">
            {{ director.nombre }} {{ director.apellido }}
          </li>
        </ul>
        <h4>Actores</h4>
        <ul>
          <li *ngFor="let actor of descripcion.actores">
            {{ actor.nombre }} {{ actor.apellido }}
          </li>
        </ul>
      </div>
      <img [src]="descripcion.infoContenido.url_imagen" class="card-img">
    </div>
    <div class="platform-images">
      <div *ngFor="let image of descripcion.plataformas" class="image-item" (click)="obtenerUrlDeContenido(image.id_plataforma)">
        <img [src]="image.url_imagen" alt="Image">
      </div>
    </div>
  </div>
  <div *ngIf="video_flag">
    <div class="video-container" [innerHTML]="video_tag_HTML"></div>
  </div>
</div>
</body>
</html>
