body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px; /* Espacio para el header fijo */
}

.card-container {
  background-color: #d8eaf7;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px; /* Espacio entre la tarjeta y las imágenes de las plataformas */
}

.card-horizontal {
  display: flex;
  align-items: center;
}

.card-details {
  flex: 1;
  padding: 10px;
}

.card-img {
  width: 300px;
  height: 300px;
}

.platform-images {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Espacio entre la tarjeta y las imágenes de las plataformas */
}

.image-item {
  margin-right: 10px;
  max-width: 150px;
  cursor: pointer;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.video-container {
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
}

.video-container iframe {
  width: 560px; /* Ancho del reproductor de video */
  height: 315px; /* Altura del reproductor de video */
}

.publicidades {
  margin-top: 100px;
}

.row-header {
  height: 70px;
}
