<html>
<body>
<div class="container-fluid">

  <div class="row">
    <app-header [pageTitle]="'Busqueda Avanzada'" class="row-header"></app-header>
  </div>

  <div class="row">
    <app-publicidad-derecha class="col-2 publicidades" exclusiva="true"></app-publicidad-derecha>

    <div class="col-8">
      <div class="content-container">
        <div class="card-container">
          <div *ngIf="descripcion" class="card-horizontal">
            <div class="card-details">
              <h3>{{ descripcion.infoContenido.titulo }}</h3>
              <p>{{ descripcion.infoContenido.descripcion }}</p>
              <p>Género: {{ descripcion.genero.descripcion }}</p>
              <h4>Directores</h4>
              <ul>
                <li *ngFor="let director of descripcion.directores">
                  {{ director.nombre }} {{ director.apellido }}
                </li>
              </ul>
              <h4>Actores</h4>
              <ul>
                <li *ngFor="let actor of descripcion.actores">
                  {{ actor.nombre }} {{ actor.apellido }}
                </li>
              </ul>
            </div>
            <img [src]="descripcion.infoContenido.url_imagen" class="card-img">
          </div>
          <div class="platform-images">
            <div  *ngFor="let image of descripcion.plataformas" class="image-item"
                 (click)="obtenerUrlDeContenido(image.id_plataforma)" >
              <img [src]="image.url_imagen" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-publicidad-derecha class="col-2 publicidades" exclusiva="true"></app-publicidad-derecha>
  </div>

  <div class="row" *ngIf="video_flag">
    <div class="video-container" [innerHTML]="video_tag_HTML"></div>
  </div>
</div>
</body>
</html>
