<header class="header-container" *ngIf="isAuthenticated(); else unauthenticated">
  <div class="logo">
    <img (click)="navigateTo('home')"  src="../../../../assets/StreamingStudioBlancoLogo.svg" alt="Logo de Streaming Studio">
  </div>
  <div class="header-title">
    {{ pageTitle }}
  </div>
  <div class="nav-buttons" *ngIf="isLoggedIn">
    <button (click)="navigateTo('series')">Series</button>
    <button (click)="navigateTo('peliculas')">Películas</button>
    <button (click)="navigateTo('busqueda-avanzada')">Búsqueda Avanzada</button>
    <div class="user-menu">
      <button (click)="toggleUserMenu()" class="user-button">Usuario</button>
      <div class="dropdown" [class.show]="userMenuVisible">
        <button (click)="navigateTo('mi-usuario')">Mi Usuario</button>
        <button (click)="navigateToFederaciones()">Federaciones</button>
        <button (click)="logout()">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</header>
<ng-template #unauthenticated>
  <div class="header-container centered">
    <div class="logo">
      <img (click)="navigateTo('home')" src="../../../../assets/StreamingStudioBlancoLogo.svg" alt="Logo de Streaming Studio">
      <h1>Streaming Studio</h1>
    </div>
  </div>
</ng-template>
