<html>
<body>
<div class="container-fluid">
  <div class="row justify-content-center b">
    <app-header [pageTitle]="'Peliculas'"></app-header>
  </div>
  <div class="row">

    <app-publicidad-izquierda class="col-2 publicidades" exclusiva="true"></app-publicidad-izquierda>
    <div class="col-8" *ngIf="federaciones.Plataformas_federadas.length">
      <div class="peliculas-container">
        <div class="pelicula" *ngFor="let pelicula of uniqueContenido">
          <h2>{{ pelicula.titulo }}</h2>
          <img [src]="pelicula.url_imagen" alt="{{ pelicula.titulo }}" (click)="verDescripcion(pelicula.id_contenido)" class="imagen">
        </div>
      </div>
    </div>
    <div class="col-8" *ngIf="!federaciones.Plataformas_federadas.length">
      <div class="peliculas-container">
        <div class="row">
          <h1 i18n="No estas federado en ninguna de nuestras plataformas, para ver las peliculas disponibles deberas federarte en alguna de ellas.">No estas federado en ninguna de nuestras plataformas, para ver las peliculas disponibles deberas federarte en alguna de ellas.</h1>
        </div>
      </div>
    </div>
    <app-publicidad-derecha  class="col-2 publicidades" exclusiva="true"></app-publicidad-derecha>
  </div>
</div>
