<!DOCTYPE html>
<html>
  <body>
  <div class="container-fluid">

    <div class="row">
      <app-header></app-header>
    </div>

    <div class="login-container">
      <div class="login-form">
        <h2>LOGIN</h2>
        <form (ngSubmit)="onSubmit() " [formGroup]="formLogin">
          <div class="form-group">
            <label for="email" i18n="Email">Email:</label>
            <input type="text" id="email" name="email" formControlName="email" required>
          </div>
          <div class="form-group">
            <label for="password" i18n="Contraseña">Contraseña:</label>
            <input type="password" id="password" name="password" formControlName="contrasena" required>
          </div>
          <div class="form-group login">
            <button type="submit" i18n="Iniciar Sesión">Iniciar Sesión</button>
          </div>
          <!-- Mensaje de error -->
          <div *ngIf="showError" class="error-message" i18n="Usuario o contraseña incorrectos">
            Usuario o contraseña incorrectos
          </div>
        </form>
        <hr> <!-- Línea separadora -->
        <div class="register-container">
          <span  i18n="¿No tienes cuenta?">¿No tienes cuenta? </span>
          <button class="register-button" (click)="navigateToRegister()" i18n="Regístrate">Regístrate</button>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
