/* Estilos para los contenedores de anuncios individuales */
.right-top-ad, .right-bot-ad {
  border: 3px solid black;
  background-color: white;
  flex: 0 0 10%;
  margin: auto;
}

/*!* Estilos para las imágenes dentro de los contenedores de anuncios *!*/
.right-img {
  width: 100%;
  height: 100%;
}
