.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.login-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.login-form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 12px); /* Toma en cuenta el ancho del borde */
  padding: 6px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.register-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.register-button:hover {
  text-decoration: underline;
}

.title-container {
  text-align: center; /* Para centrar el título */
  margin-top: 50px;
}

.error-message {
  color: red;
  margin-top: 5px;
}
