/* Estilos para los contenedores de anuncios individuales */
.left-bot-ad, .left-top-ad {
  border: 3px solid black;
  background-color: white;
  flex: 0 0 10%;
  margin: auto;
}

/*!* Estilos para las imágenes dentro de los contenedores de anuncios *!*/
.left-img {
  width: 100%;
  height: 100%;
}
