<html>
<body>
<div class="container-fluid">

  <div class="row">
    <app-header [pageTitle]="'Home'" [id_cliente]=client_id (mensajeEvent)="recibirMensaje($event)"
                class="row-header"></app-header>
  </div>

  <div class="row">
    <app-publicidad-izquierda class="col-2 publicidades" exclusiva="true"
                              no_exclusiva="true"></app-publicidad-izquierda>

    <div class="col-8">
      <div class="contenidos">

        <h2 class="title">Contenido Destacado</h2>
        <div class="fila-contenido">
          <div *ngFor="let contenido of destacados" class="contenido-item">
            <img [src]="contenido.url_imagen" (click)="navigateTo(contenido.id_contenido)" class="img-cont"
                 alt="Destacado">
          </div>
        </div>

        <h2 class="title">Más Visto</h2>
        <div class="fila-contenido">
          <div *ngFor="let contenido of masVistos" class="contenido-item">
            <img [src]="contenido.url_imagen" (click)="navigateTo(contenido.id_contenido)" class="img-cont"
                 alt="Más Visto">
          </div>
        </div>

        <h2 class="title">Reciente</h2>
        <div class="fila-contenido">
          <div *ngFor="let contenido of recientes" class="contenido-item">
            <img [src]="contenido.url_imagen" (click)="navigateTo(contenido.id_contenido)" class="img-cont"
                 alt="Reciente">
          </div>
        </div>
      </div>
    </div>

    <app-publicidad-derecha class="col-2 publicidades" exclusiva="true" no_exclusiva="true"></app-publicidad-derecha>
  </div>
</div>
</body>
</html>
