.home-container {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: lightskyblue;
  text-align: center;
}

.home-title {
  font-size: 3em; /* Tamaño del título */
  text-align: center;
}

.contenidos {
  margin-top: 300px;
  background-color: lightskyblue;
  width: 100%; /* Asegura que el contenido tome todo el ancho disponible */
}

.fila-contenido {
  border: solid 2px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%; /* Asegura que la fila tome todo el ancho disponible */
}

.contenido-item {
  padding: 30px;
  margin-bottom: 20px;
  flex: 0 1 30%;
  position: relative;
}

.contenido-item img {
  border: solid 3px black;
  width: 100%;
  height: 200px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin deformarla */
}

.title {
  color: #0056b3;
  font-family: "Arial", sans-serif;
}

body, html {
  background-color: lightskyblue;
  margin: 0;
  padding: 0;
  height: 100%;
}

.img-cont {
  border-radius: 5px;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos en la fila */
  align-items: center; /* Centra verticalmente los elementos en la fila */
  height: 100%; /* Asegura que la fila tome toda la altura disponible */
  width: 100%;
}

.col-2 {
  height: 100vh; /* Usa altura completa de la vista */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente los elementos dentro de col-2 */
}
