.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vh; /* Ajusta la altura según tus necesidades */
}

.home-title {
  font-size: 3em; /* Tamaño del título */
  text-align: center;
}

.publicidades {
  display: flow-root;
  padding: 10px;
}

.publicidad-banner {
  width: 30%;
}

.publicidad-banner.tipo1,
.publicidad-banner.tipo3,
.publicidad-banner.tipo5 {
  width: 30%;
}

.otras-publicidades {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.publicidad-cuadrado {
  width: 45%;
  margin-bottom: 20px;
}

.contenidos {
  margin-top: 40px;
}

.fila-contenido {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.contenido-item {
  flex: 0 1 30%;
  margin-bottom: 20px;
  position: relative;
}

.contenido-item img {
  width: 100%;
  height: 200px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin deformarla */
}




