<div class="title-container">
  <h1>STREAMING STUDIO</h1>
</div>
<div class="register-container">
  <div class="register-form">
    <h2>REGISTRO</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="formRegister">
      <div class="form-group">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" formControlName="usuario" required>
        <div *ngIf="formRegister.get('usuario')?.errors && formRegister.get('usuario')?.dirty" class="error-message">
          <div *ngIf="formRegister.get('usuario')?.hasError('required')">El usuario es requerido</div>
          <div *ngIf="formRegister.get('usuario')?.hasError('maxlength')">El usuario no puede tener más de 16 caracteres</div>
        </div>
      </div>
      <div class="form-group">
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña" formControlName="contrasena" required>
        <div *ngIf="formRegister.get('contrasena')?.errors && formRegister.get('contrasena')?.dirty" class="error-message">
          <div *ngIf="formRegister.get('contrasena')?.hasError('required')">La contraseña es requerida</div>
          <div *ngIf="formRegister.get('contrasena')?.hasError('strongPassword')">La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un carácter especial</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email" required>
        <div *ngIf="formRegister.get('email')?.errors && formRegister.get('email')?.dirty" class="error-message">
          <div *ngIf="formRegister.get('email')?.hasError('required')">El email es requerido</div>
          <div *ngIf="formRegister.get('email')?.hasError('email')">El email debe tener un formato válido</div>
        </div>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" formControlName="nombre" required>
        <div *ngIf="formRegister.get('nombre')?.errors && formRegister.get('nombre')?.dirty" class="error-message">
          <div *ngIf="formRegister.get('nombre')?.hasError('required')">El nombre es requerido</div>
          <div *ngIf="formRegister.get('nombre')?.hasError('maxlength')">El nombre no puede tener más de 16 caracteres</div>
        </div>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" formControlName="apellido" required>
        <div *ngIf="formRegister.get('apellido')?.errors && formRegister.get('apellido')?.dirty" class="error-message">
          <div *ngIf="formRegister.get('apellido')?.hasError('required')">El apellido es requerido</div>
          <div *ngIf="formRegister.get('apellido')?.hasError('maxlength')">El apellido no puede tener más de 16 caracteres</div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit">Registrarse</button>
      </div>
    </form>
  </div>
</div>
