<html xmlns="http://www.w3.org/1999/html">
<body>
<div class="container-fluid">

  <div class="row">
    <app-header [pageTitle]="'Busqueda Avanzada'" class="row-header"></app-header>
  </div>

  <div class="row">
    <app-publicidad-izquierda class="col-2 publicidades" exclusiva="true"></app-publicidad-izquierda>

    <div class="col-8" style="margin-top: 10px">
      <!-- Formulario de Búsqueda Avanzada -->
      <div *ngIf="advancedSearchVisible" id="advanced-search-form">
        <div class="register-container">
          <div class="register-form">
            <h2 class="title-container" i18n>Búsqueda Avanzada</h2>
            <form (ngSubmit)="onSubmit()" [formGroup]="formContenido">
              <div class="form-group horizontal-group">
                <div class="form-item">
                  <label for="titulo" i18n>Título:</label>
                  <input type="text" id="titulo" name="titulo" formControlName="titulo">
                </div>

                <div class="form-group horizontal-group">
                  <div class="form-item">
                    <label i18n>Género</label>
                    <label><input type="checkbox" formControlName="drama" placeholder="Drama" i18n-placeholder="Drama"> Drama</label>
                    <label><input type="checkbox" formControlName="accion" placeholder="Acción" i18n-placeholder="Acción"> Acción</label>
                    <label><input type="checkbox" formControlName="comedia" placeholder="Comedia" i18n-placeholder="Comedia"> Comedia</label>
                  </div>
                </div>

                <div class="form-group horizontal-group">
                  <div class="form-item">
                    <label i18n>Clasificacion</label>
                    <label><input type="radio" [checked]="formContenido.get('clasificacion')?.value === 'P'" (click)="clasificacionButton('P')" placeholder="Peliculas" i18n-placeholder="Peliculas"> Peliculas</label>
                    <label><input type="radio" [checked]="formContenido.get('clasificacion')?.value === 'S'" (click)="clasificacionButton('S')" placeholder="Series" i18n-placeholder="Series"> Series</label>
                  </div>
                </div>
              </div>

              <div class="form-group horizontal-group">
                <div class="form-item">
                  <label i18n>Reciente</label>
                  <label><input type="radio" [checked]="formContenido.get('reciente')?.value === 'V'" (click)="recienteButton('V')" placeholder="Si" i18n-placeholder="Si"> Si</label>
                  <label><input type="radio" [checked]="formContenido.get('reciente')?.value === 'F'" (click)="recienteButton('F')" placeholder="No" i18n-placeholder="No"> No</label>
                </div>

                <div class="form-item">
                  <label i18n>Destacado</label>
                  <label><input type="radio" [checked]="formContenido.get('destacado')?.value === 'V'" (click)="destacadoButton('V')" placeholder="Si" i18n-placeholder="Si"> Si</label>
                  <label><input type="radio" [checked]="formContenido.get('destacado')?.value === 'F'" (click)="destacadoButton('F')" placeholder="No" i18n-placeholder="No"> No</label>
                </div>

                <div class="form-item">
                  <label i18n>Mas Visto</label>
                  <label><input type="radio" [checked]="formContenido.get('mas_visto')?.value === 'V'" (click)="masVistoButton('V')" placeholder="Si" i18n-placeholder="Si"> Si</label>
                  <label><input type="radio" [checked]="formContenido.get('mas_visto')?.value === 'F'" (click)="masVistoButton('F')" placeholder="No" i18n-placeholder="No"> No</label>
                </div>

                <div class="form-item">
                  <button type="submit" id="buscar" i18n>Buscar</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>


      <div class="contenidos" *ngIf="contenido && contenido.length > 0">
        <h2 class="title" i18n>Contenido</h2>
        <div class="fila-contenido">
          <div *ngFor="let contenido of contenido; let i = index" class="contenido-item">
            <img [src]="contenido.url_imagen" (click)="navigateTo(contenido.id_contenido)" class="img-cont"
                 alt="Busqueda Avanzada">
          </div>
        </div>
      </div>

      <div class="card-sin-contenido" *ngIf="contenido && contenido.length === 0 && isVisible">
        <div class="contenido-no-encontrado">
          <b i18n>No se encuentra contenido con los filtros seleccionados</b>
        </div>
      </div>
    </div>

    <app-publicidad-derecha class="col-2 publicidades" exclusiva="true"></app-publicidad-derecha>
  </div>
</div>
</body>
</html>

<!--      <div *ngIf="contenido && contenido.length > 0" class="row movie-grid">-->
<!--        <div *ngFor="let contenido of contenido; let i = index" class="col-2 col-sm-2 col-md-2 col-lg-2 movie-card">-->
<!--          <div class="card">-->
<!--            <img [src]="contenido.url_imagen" (click)="navigateTo(contenido.id_contenido)" alt="Imagen del contenido" class="card-img-top">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div *ngIf="contenido && contenido.length > 0" class="content-container">-->
<!--        <div *ngFor="let contenido of contenido; let i = index" class="card">-->
<!--          <img [src]="contenido.url_imagen" (click)="navigateTo(contenido.id_contenido)" alt="Imagen del contenido">-->
<!--        </div>-->
<!--      </div>-->
