body, html {
  background-color: lightskyblue;
  margin: 0;
  padding: 0;
  height: 100%;
}

.section-title {
  margin: 20px 0;
  text-align: left;
  font-size: 1.5em;
  color: #fff;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  height: auto;
  width: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.card {
  /*background-color: #333;*/
  /*border: none;*/
  /*border-radius: 8px;*/
  overflow: hidden;
  width: 100%;
  /*max-width: 200px;*/
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: auto;
  height: auto;
}

.card-title {
  font-size: 1em;
  text-align: center;
  color: #fff;
}

.contenidos {
  background-color: lightskyblue;
  width: 100%; /* Asegura que el contenido tome todo el ancho disponible */
  margin-top: 25px;
}

.fila-contenido {
  border: solid 2px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%; /* Asegura que la fila tome todo el ancho disponible */
}

.contenido-item {
  padding: 30px;
  margin-bottom: 20px;
  flex: 0 1 30%;
  position: relative;
}

.contenido-item img {
  border: solid 3px black;
  width: 100%;
  height: 200px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin deformarla */
}

.img-cont {
  border-radius: 5px;
  cursor: pointer;
}

.row-header {
  height: 70px;
}

.publicidades {
  /*flex-direction: column;*/
  /*display: flex;*/
  margin-top: 100px;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue; /* Fondo gris claro */
}

.register-form {
  margin-top: 21px;
  margin-bottom: 83px;
  width: 300px; /* Ancho de la tarjeta */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form .form-group {
  margin-bottom: 15px;
}

.register-form .form-group label {
  display: block;
  margin-bottom: 5px;
}

.register-form .form-group input {
  width: 100%; /* Ancho completo */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.register-form button {
  width: 100px; /* Ancho completo */
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3; /* Color de fondo del botón al pasar el ratón */
}

.title-container {
  text-align: center; /* Para centrar el título */
  margin-bottom: 30px;
  color: #0056b3;
  font-family: "Arial", sans-serif;
}
