h2 {
  color: #0056b3;
  font-family: "Arial", sans-serif;
}

.platform-container {
  border: 3px solid;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: skyblue;
}

.platform-list {
  display: flex;
  flex-wrap: wrap;
}

.platform-item {
  flex: 0 0 150px; /* Set a base width for each platform item */
  margin: 10px;
  text-align: center;
}

.platform-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

body{
  background-color: lightskyblue;
}

html{
  background-color: lightskyblue;
}

.img-cont{
  cursor: pointer;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: aquamarine;
  margin: 5% auto;
  padding: 20px;
  border: 3px solid black;
  width: 28%;
}

.show {
  display: block;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  margin-bottom: 10px;
  width: 100%; /* Ancho completo */
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  cursor: pointer;
}

.row{
  display: flex;
  margin-top: 100px;
}


