<html>
<body>
<div class="container-fluid">

  <div class="row">
    <app-header [id_cliente]="id_cliente" [pageTitle]="'Federaciones'" class="row-header"></app-header>
  </div>

  <div class="row">
    <app-publicidad-izquierda class="col-2 publicidades" exclusiva="true"></app-publicidad-izquierda>

    <div class="col-8">
      <div class="platform-container">
        <h2 i18n="Plataformas a Federar">Plataformas a Federar</h2>
        <div class="platform-list">
          <div class="platform-item" *ngFor="let plataforma of plataformas_a_federar">
            <img *ngIf="plataforma.url_imagen" [src]="plataforma.url_imagen"
                 alt="Plataforma {{ plataforma.id_plataforma }}" (click)="openModal(plataforma)">
            <img *ngIf="!plataforma.url_imagen" src="https://via.placeholder.com/150" alt="No disponible">
          </div>
        </div>
      </div>
      <div class="platform-container">
        <h2 i18n="lataformas Federadas">Plataformas Federadas</h2>
        <div class="platform-list">
          <div class="platform-item" *ngFor="let plataforma of plataformas_federadas"
               (click)="desvincular(plataforma)">
            <img [src]="plataforma.url_imagen" alt="Plataforma {{ plataforma.id_plataforma }}" class="img-cont">
          </div>
        </div>
      </div>

      <div id="myModal" class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal($event)">
        <div class="modal-content" (click)="$event.stopPropagation()">
          <span class="close" (click)="closeModal($event)">&times;</span>
          <p i18n="Selecciona una opción:">Selecciona una opción:</p>
          <button (click)="navigateToLogin(plataforma_seleccionada, 'L')">Login</button>
          <button (click)="navigateToRegister(plataforma_seleccionada, 'R')">Registro</button>
        </div>
      </div>
    </div>

    <app-publicidad-derecha class="col-2 publicidades" exclusiva="true"></app-publicidad-derecha>
  </div>
</div>
</body>
</html>
